:root {
  --main-text-color: #757575;
  --accent-text-color: #212121;
  --second-text-color: #fff;
  --active-text-color: #2196f3;
  --main-button-color: #2196f3;
  --background-team: #f5f4fa;
  --icon-socialnetwork-color: #afb1b8;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "roboto", "sans-serif";
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  font-style: normal;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*header*/
/*------main-----*/
/*-----hero-----*/
/*under-hero*/
/*work*/
/*---work-buttons---*/
/*---our-works---*/
/*---team---*/
/*---our-custumers---*/
/*-----footer-----*/
 /*---backdrop---*/
/*-----modal-----*/



