:root {
  --main-text-color: #757575;
  --accent-text-color: #212121;
  --second-text-color: #fff;
  --active-text-color: #2196f3;
  --main-button-color: #2196f3;
  --background-team: #f5f4fa;
  --icon-socialnetwork-color: #afb1b8;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "roboto", "sans-serif";
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  font-style: normal;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*header*/
.header {
  border-bottom: 1px solid var(--background-team);
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  margin-right: 50px;
}

.header-link.current::after {
  content: "";
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  border-radius: 2px;
  position: absolute;
  background-color: var(--main-button-color);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-list :hover,
.header-list :focus {
  color: var(--active-text-color);
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
}

.header-communication {
  margin-left: auto;
}

.header .header-contact {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--main-text-color);
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact:hover,
.header-contact:focus {
  color: var(--active-text-color);
}

.icon-contact {
  fill: var(--main-text-color);
  margin-right: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact:hover .icon-contact,
.header-contact:focus .icon-contact {
  fill: var(--active-text-color);
}

.header-contact {
  padding-top: 32px;
  padding-bottom: 32px;
  margin-right: 50px;
}

.header-contacts {
  display: flex;
}

.header-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo-color-header {
  color: var(--active-text-color);
}

/*------main-----*/
.hero {
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}

.hero-container {
  flex-grow: 1;
}

.hero-text {
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  margin-bottom: 30px;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--accent-text-color);
}

.hero-btn {
  padding: 10px 32px 10px 32px;
  min-width: 200px;
  min-height: 50px;
  color: var(--background-team);
  background-color: var(--active-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:focus,
.hero-btn:hover {
  color: var(--second-text-color);
  background: var(--main-button-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.button-list {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  cursor: pointer;
  padding: 6px 22px;
}

/*under-hero*/
.uh-link {
  width: 100%;
  height: 100%;
  background-color: var(--background-team);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
}

.uh-list {
  display: flex;
}

.uh-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
  padding-top: 30px;
  padding-bottom: 10px;
}

.uh-item {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

/*work*/
.work-item-picture {
  position: relative;
}

.work-text {
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-text-color);
  background-color: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paragraph {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
  margin-bottom: 50px;
}
.work-section {
  padding-top: 0px;
}

.work-paragraph {
  text-align: center;
}

.work-item {
  display: flex;
  text-align: center;
  margin-right: -30px;
}

.work-item-picture {
  margin-right: 30px;
}

/*---work-buttons---*/

.button-style {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  border-radius: 4px;
  cursor: pointer;
}

.button-list {
  color: var(--accent-text-color);
  background-color: var(--background-team);
}

.button-list {
  transition: color, background-color,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-list:focus,
.button-list:hover {
  color: var(--second-text-color);
  background-color: var(--main-button-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.btn-potfolio:not(:last-child) {
  padding-right: 8px;
}

/*---our-works---*/

.portfolio-our-works {
  width: 370px;
  height: 404px;
}

.portfolio-overlay {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.5);
  padding: 40px;
  height: 100%;
  color: #ffffff;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-overlay:hover .overlay-text {
  transform: translateY(0);
}

/*.portfolio-overlay::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.5);
  opacity: 0;
}*/

.portfolio-overlay:hover::before,
.portfolio-overlay:focus::before {
  opacity: 1;
}

.link-portfolio {
  display: block;
  transition: border, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.work-portfolio-link {
  margin-left: 30px;
  margin-top: 30px;
  display: block;
}

.portfolio-our-works:hover,
.portfolio-our-works:focus {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  opacity: 1;
}

.description-works {
  padding: 20px 24px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.works-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--accent-text-color);
}

.works-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  padding-top: 4px;
}
/*---team---*/
.team-list {
  display: flex;
}

.container-member {
  display: flex;
  justify-content: space-between;
}

.team-paragraph {
  text-align: center;
}

.team-section {
  background-color: var(--background-team);
  display: flex;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
  margin-top: 30px;
}
.team-member-list {
  background: var(--second-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  text-align: center;
}

.team-member-list:not(:last-child) {
  margin-right: 30px;
}

.team-member {
  font-style: regular;
  font-size: 16px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  margin-top: 10px;
}

.team-description {
  margin: 30px 32px;
}

.team-socialnetworks-list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
  margin-bottom: 30px;
}

.team-socialnetworks-item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.team-socialnetworks-item:not(:last-child) {
  margin-right: 10px;
}

.socialnetworks {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--second-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-socialnetwork {
  transition: fill, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socialnetworks:hover,
.socialnetworks:focus {
  background-color: var(--active-text-color);
}

.icon-socialnetwork {
  fill: var(--icon-socialnetwork-color);
}

.socialnetworks:hover .icon-socialnetwork,
.socialnetworks:focus .icon-socialnetwork {
  fill: var(--second-text-color);
}

/*---our-custumers---*/

.custumers-text {
  width: 391px;
  height: 42px;
  left: 606px;
  top: 2401px;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 50px;
  display: flex;
}

.custumers-list {
  display: flex;
  margin-top: 50px;
}

.custumers-list-item {
  width: 170px;
  height: 92px;
}

.custumers-link {
  width: 100%;
  height: 100%;
  background-color: var(--second-text-color);
  border: 1px solid var(--icon-socialnetwork-color);
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custumers-link {
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-custumers {
  transition: fill, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.custumers-link:focus,
.custumers-link:hover {
  border: 1px solid var(--main-button-color);
}

.custumers-link:hover .icon-custumers,
.custumers-link:focus .icon-custumers {
  fill: var(--main-button-color);
}

.icon-custumers {
  fill: var(--icon-socialnetwork-color);
}
.custumers-list-item:not(:last-child) {
  margin-right: 30px;
}

.footer {
  background-color: #2f303a;
}

.section-footer {
  padding: 60px 0;
  display: flex;
}

.container-footer {
  display: flex;
}

.footer-socialnetworks-list {
  display: flex;
  margin-top: 20px;
}

.container-footer-socialnetwork {
  width: 206px;
  height: 80px;
  margin-left: 70px;
}

.socialnetworks-footer {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-socialnetwork-footer {
  fill: var(--background-team);
}

.socialnetworks-footer:hover,
.socialnetworks-footer:focus {
  background: var(--main-button-color);
}

.footer-socialnetwork-text {
  width: 219px;
  height: 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  text-align: left;
}

.footer-logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
.adress-footer {
  margin-top: 20px;
}

.logo-color-footer {
  color: var(--active-text-color);
}

.footer-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link-list:not(:last-child) {
  margin-bottom: 9px;
}

.adr {
  color: rgba(255, 255, 255, 0.6);
}

.footer-list :hover,
.footer-list :focus {
  color: var(--active-text-color);
}

.container-footer-subscribe {
  width: 570px;
  height: 86px;
  margin-left: 93px;
}

.footer-subscribe-text {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-top: 20px;
  padding-left: 16px;
  background-color: #2f303a;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-subscribe-text:focus {
  border-color: var(--second-text-color);
}

.footer-subscribe-text:focus::placeholder {
  color: white;
}

.footer-subscribe-text {
  color: white;
}

.footer-subscribe::placeholder {
  font-size: 16px;
  line-height: 1.25;
}

.footer-btn {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-style: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  border: 0;
  background: #2196f3;
  color: white;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn:focus,
.footer-btn:hover {
  background-color: #188ce8;
}

.icon-subscribe {
  width: 24px;
  height: 24px;
  fill: var(--second-text-color);
}

/*---backdrop---*/

.backdrop {
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 1000ms, visibility 1000ms;
}

.backdrop.is-hidden .modal {
  transform: scale(1.7) rotate(90deg);
  transition: transform 500ms;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  min-height: 581px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1) rotate(0);
  transition: transform 500ms;
  padding: 40px;
}

.modal-close {
  width: 30px;
  height: 30px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  right: 8px;
  top: 8px;
}

.modal-close-icon {
  fill: rgba(0, 0, 0, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon:focus,
.modal-close-icon:hover {
  fill: var(--active-text-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-title {
  width: 100%;
  height: 23px;
  font-size: 20px;
  font-weight: 700;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--accent-text-color);
  margin-bottom: 12px;
}

.label-text {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 1);
  padding-bottom: 4px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  padding-right: 42px;
  color: var(--accent-text-color);
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus,
.modal-textarea:focus {
  border: 1px solid rgba(33, 150, 243, 1);
  border-radius: 4px;
  cursor: pointer;
}

.input-icon {
  width: 12px;
  height: 12px;
  left: 15px;
  top: 14px;
  bottom: 14px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  fill: var(--accent-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .input-icon {
  fill: var(--active-text-color);
}

.modal-textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  outline: none;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.agree-text {
  width: 400px;
  height: 24px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(117, 117, 117, 1);
}

.agree-item {
  width: 16px;
  height: 15px;
  border: 2px solid rgba(33, 33, 33, 1);
  border-radius: 2px;
  margin-right: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.fieldset-agree {
  margin-top: 20px;
  margin-bottom: 30px;
  border: none;
}

.input-wrap {
  position: relative;
  margin-bottom: 10px;
}

.modal-button {
  width: 200px;
  height: 50px;
  left: 700px;
  top: 712px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--second-text-color);
  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:focus,
.modal-button:hover {
  background-color: #188ce8;
}

.check-icon {
  position: absolute;
  width: 11px;
  height: 8px;
  fill: var(--second-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-agree-input:checked + .agree-text .agree-item {
  background-color: #188ce8;
  border: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.color-confirm {
  color: var(--active-text-color);
}
